<h1>BNB ADVISOR</h1>

<main>
  <p>This is a website for you to check BNBs! Share your experience with the world!</p>

  <form action="/listings" method="GET" onsubmit="return validateForm()">

    <input type="text" name="keyword" id="keyword" placeholder="Search keyword">
    <button type="submit">SEARCH</button>
  </form>

  <form action="/listings" method="GET" onsubmit="return validateForm()">
    <select name="city" id="city">
      <option value="">-- Select City --</option>
      {{#each cityList}}
      <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
    <button type="submit">FILTER</button>
  </form>

  <h2>Top Rated BNB</h2>
  <ul>
    {{#each featured}}
    <li>
      <a href="/property/{{this._id}}">
      {{this.title}} - {{this.city}} - Rating: {{this.rating}}
      </a>
    </li>
    {{/each}}
  </ul>

</main>

<script>
  function validateForm() {
    const keyword = document.getElementById("keyword").value.trim();
    const city = document.getElementById("city").value;
    if (!keyword && !city) {
      alert("Please enter a keyword or select a city.");
      return false;
    }

    // Optional
    if (/^\d+$/.test(keyword)) {
      alert("Keyword should not be only numbers.");
      return false;
    }

    return true;
  }
</script>
