<h1>BNB Found</h1>
<h2>Search Results</h2>


<main>
  <ol>
    {{#each results}}
    <li>
      <a href="/properties/{{this._id}}"></a>
      {{this.title}} - {{this.city}} - Rating: {{this.rating}}
      </a>
    </li>
    {{else}}
    <i class="fas fa-search fa-3x"></i>
        <h2>No properties found</h2>
    <p>Try adjusting your search criteria</p>
    <a href="/" class="btn-back">Back to Home</a>
    {{/each}}
  </ol>
</main>

{{!--
<!DOCTYPE html>
<html>

<head>
  <title>Listing</title>
</head>

<body>
  <h1>Search Results</h1>
  <ul>
    {{#each results}}
    <li>{{this.name}} - {{this.city}} - Rating: {{this.rating}}</li>
    {{else}}
    <li>No results found</li>
    {{/each}}
  </ul>
</body>

</html>
--}}