<h1>BNB Found</h1>
<h2>Search Results</h2>


<main>
  <ol>
    {{#each results}}
    <li>
      <a href="/properties/{{this._id}}">
      {{this.title}} - {{this.city}} - Rating: {{this.averageRating}}
      </a>
    </li>
    {{else}}
    <li>not found any</li>
    {{/each}}
  </ol>
</main>

